<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<h2>Here are some links to help navigate: </h2>
<ul>
    <li>
        <a target="_blank" rel="noopener" href="/author_create">Author Creation</a>
    </li>
    <li>
        <a target="_blank" rel="noopener" href="/author_edit">Author Edit</a>
    </li>
    <li>
        <a target="_blank" rel="noopener" href="/book_create">Book Creation</a>
    </li>
    <li>
        <a target="_blank" rel="noopener" href="/book_edit">Book Edit</a>
    </li>
</ul>

<router-outlet></router-outlet>